*.swp
*.pyc
external/early-filter/*
external/mm9/*
external/mm9.fa
external/mm9.tar.gz
sequences/*-hq.fq.gz
sequences/*-total.fa
sequences/*-tags.fa
prealns/*
external/knownGene.txt.gz
external/refGene.txt.gz
genomealn/*
flowchart.*
external/mirbase.bed
