*.swp
*.pyc
external/downloaded/*
external/early-filter/*
external/knownGene.txt.gz
external/mirbase.bed.gz
external/mm9/*
external/mm9.2bit
external/mm9.fa
external/mm9.tar.gz
external/refGene.txt.gz
external/refseq.bed.gz
external/refseq-instances.pickle
external/refseq-intervals.pickle
external/refseq-lengths.pickle
external/repeatmasker.bed.gz
external/Rfam.fasta.gz
external/Rfam.full.gz
sequences/*-hq.fq.gz
sequences/*-total.fa
sequences/*-tags.fa
prealns/*
tmp/*
genomealn/*
flowchart.*
